*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 100px;
    font-family: sans-serif;
}

.header-izq{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-izq a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-izq img{
    width: 75px;
    height: 49px;
}

.header-izq p{
    text-transform: uppercase;
    margin: 10px;
}

.header-der{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header-der div{
    display: flex;
}

.header-der div p{
    margin: 0 8px;
}

.header-der img{
    width: 25px;
    height: 20px;
}

.header-der div p{
    text-transform: uppercase;
    font-weight: bold;
}

.header-der button{
    border: none;
    border-radius: 35px;
    padding: 6px 12px;
    border: 1px solid black;
    margin-right: 8px;
    font-weight: bold;
}

#boton-sesion{
    background-color: white;
    color: black;
}

#boton-unete{
    background-color: black;
    color: white;
}


main{
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

main .main-izq{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 100vh;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);;
}

main .main-izq img{
    width: 400px;
}

main .main-izq p{
    font-weight: 400;
    font-size: 26px;
    color: white;
}

.main-izq button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 35px;
    padding: 6px 12px;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 8px;
    font-weight: bold;
    margin: 20px 0;
}

.boton-sesion2{
    background-color: transparent;
    color: white;
}

.boton-unete2{
    background-color: transparent;
    color: white;
}

main .main-der{
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.contenedor-beneficios{
    display: flex;
}

.contenedor-beneficios img{
    width: 100px;
    height: auto;
}